.videos2 {
    left: 120px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}

.videos3{
    margin-left: 350px;
    left: 120px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}
.video1{

    width: 300px;
}
.videos4{
    margin-left: 350px;
    left: 470px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}
.video2{

    width: 300px;
}
.videos5{
    margin-left: 350px;
    left: 820px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}
.video3{

    width: 300px;
}



.video{
    width: 300px;
}

.videos6 {
    margin-top: 200px;
    left: 120px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}

.videos7{
    margin-top: 200px;
    margin-left: 350px;
    left: 120px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}
.video4{

    width: 300px;
}
.videos8{
    margin-top: 200px;
    margin-left: 350px;
    left: 470px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}
.video5{

    width: 300px;
}
.videos9{
    margin-top: 200px;
    margin-left: 350px;
    left: 820px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}
.video6{

    width: 300px;
}



.video7{
    width: 300px;
}

/*
-----------------------------------------------------------------------*/


.videos10 {
    margin-top: 400px;
    left: 120px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}

.videos11{
    margin-top: 400px;
    margin-left: 350px;
    left: 120px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}
.video8{

    width: 300px;
}
.videos12{
    margin-top: 400px;
    margin-left: 350px;
    left: 470px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}
.video9{

    width: 300px;
}
.videos13{
    margin-top: 400px;
    margin-left: 350px;
    left: 820px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}
.video10{

    width: 300px;
}



.video11{
    width: 300px;
}

.videos14 {
    margin-top: 400px;
    left: 120px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}

.videos15{
    margin-top: 400px;  
    margin-left: 350px;
    left: 120px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}
.video12{

    width: 300px;
}
.videos16{
    margin-top: 400px;
    margin-left: 350px;
    left: 470px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}
.video13{

    width: 300px;
}
.videos17{
    margin-top: 400px;
    margin-left: 350px;
    left: 820px;
    top: 1000px;
    position: absolute;
    display: inline-block;
    border: 2px solid white;
    width: 300px;
    height: 158px;
}
.video14{

    width: 300px;
}




